h2.now-playing-intro {
   color: #eee;
   padding-top: 15px;
   padding-left: 10px;
   font-size: 22px;
}

div.now-playing {
   color: #999;
   padding-left: 12px;
   padding-top: 10px;

   p.author {
      display: inline;
   }

   p.song-now-playing {
      display: inline;
   }
}