div.playback {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 86%;
    background-color: gray;
    background-color: #282828;
    width: 100vw;
}

div.playback-buttons {
    display: flex;
    position: absolute;
    top: 20%;
    left: 50%;
    margin: 0 auto;
    transform: translate(-50%, -50%);
    font-size: 30px;
}

div.playback-buttons.active {
    top: 50%;
}

div.playback-buttons i {
    padding: 0 5px;
    color: #bbb;
    cursor: pointer;
}

i.toggle {
    display: none;
}

div.playback div.playback-text {
    margin-top: 43px;
    /* display: none; */
}

div.playback div.playback-text p {
    color: #ddd;
    text-align: center;
}