div.search {
    width: calc(100% - 230px);
    margin-left: 230px;
    height: 100%;
}

div.search input {
    width: 100%;
    background-color: #282828;
    color: #eee;
    font-weight: 600;
    font-size: 30px;
    padding: 15px 40px;
    outline: none;
    border: none;
}

div.search-main-content {
    height: calc(100% - 67px);
    background-color: #121212;
}