* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

body {
    height: 100vh;
}

div.App {
    height: 86vh;
}

html {
    scrollbar-width: none;
    /* For Firefox */
    -ms-overflow-style: none;
    /* For Internet Explorer and Edge */
}

::-webkit-scrollbar {
    width: 0px;
    /* For Chrome, Safari, and Opera */
}